---
import Image from 'astro/components/Image.astro'
import type { CollectionEntry } from 'astro:content'

interface Props {
    post: CollectionEntry<'posts'>
}

const { post } = Astro.props
---

<a
    href={post.slug}
    class="inline-block max-w-md cursor-pointer rounded-lg bg-slate-300 transition-all hover:bg-slate-400 dark:bg-surface-700 dark:hover:bg-surface-700/50"
>
    <div class="p-4">
        <div>
            <Image
                src={post.data.image || '/placeholder.svg'}
                alt={post.data.title}
                height={150}
                width={300}
                class="w-full rounded-lg bg-slate-400 dark:bg-slate-600"
            />
        </div>

        <div class="mt-4 flex flex-col gap-2">
            <p class="font-bold lg:text-lg">
                {post.data.title}
            </p>

            <small>{post.data.publishedDate.toLocaleDateString()}</small>
        </div>
    </div>
</a>
