---
import Image from 'astro/components/Image.astro'
import type { CollectionEntry } from 'astro:content'

interface Props {
    post: CollectionEntry<'posts'>
}

const { post } = Astro.props
---

<a
    href={post.slug}
    class="inline-block max-w-md cursor-pointer rounded-lg bg-slate-300 transition-all hover:bg-slate-400 dark:bg-surface-700 dark:hover:bg-surface-700/50"
>
    <div class="p-4">
        <div class="h-full w-full">
            <Image
                src={post.data.image || '/placeholder.svg'}
                alt={post.data.title}
                height={150}
                width={300}
                class="h-[300px] w-full rounded-lg bg-slate-400 object-cover dark:bg-slate-600"
                transition:name="blog-image"
            />
        </div>

        <div class="mt-4 flex flex-col gap-2">
            <p class="font-bold lg:text-lg" transition:name="blog-title">
                {post.data.title}
            </p>

            <p class="text-sm">{post.data.description}</p>

            <small
                >{
                    post.data.publishedDate?.toLocaleDateString('en-us', {
                        year: 'numeric',
                        month: 'long',
                        day: '2-digit',
                    }) || <em>Unpublished</em>
                }</small
            >
        </div>
    </div>
</a>
