---
interface Props {
    technology: {
        name: string
        logo: string
    }
}

const { technology } = Astro.props
---

<div>
    <img
        src={technology.logo}
        alt={technology.name}
        title={technology.name}
        class="h-8 w-8"
    />
</div>
