---
import TabView from 'primevue/tabview/TabView.vue'
import TabPanel from 'primevue/tabpanel/TabPanel.vue'
---

<TabView client:load>
    <Fragment slot="default">
        <TabPanel client:load>
            <h1>Tab 1</h1>
        </TabPanel>

        <TabPanel client:load>
            <h1>Tab 2</h1>
        </TabPanel>
    </Fragment>
</TabView>
