---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog">
	<section class="container mx-auto py-48 grid place-items-center">
		<p class="text-center">
            This page is under construction. Please check back later.
        </p>
	</section>
</Layout>
