---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Blog">
    <section class="container mx-auto grid place-items-center py-48">
        <p class="text-center">
            This page is under construction. Please check back later.
        </p>
    </section>
</Layout>
