---
import Layout from "../layouts/Layout.astro";
import TextCarousel from "../components/vue/TextCarousel.vue";
import Button from 'primevue/button/Button.vue'

const roles = ["Full-Stack Developer.", "Tech Enthusiast.", "Innovator."];
---

<Layout title="jericdei">
	<section
		class="text-center lg:text-left space-y-16 container mx-auto py-48 flex flex-col justify-center"
	>
		<div class="flex flex-col gap-4 text-3xl leading-[3rem]">
			<p class="lg:text-4xl">Hi there! I'm</p>

			<span class="text-4xl md:text-6xl lg:text-8xl font-bold">Jeric June Logan</span>

			<TextCarousel client:only texts={roles} />
		</div>

		<div class="mt-4">
			<Button client:only label="View my projects" />
		</div>
	</section>
</Layout>
