---
import Layout from '../layouts/Layout.astro';
---

<Layout title="jericdei">
	<section class="text-center py-16 space-y-16">
		<p class="text-4xl leading-[5rem]">Hi there.<br /> I'm Jeric. I'm a <strong>Web Developer</strong>.</p>

		<p>Welcome to my simple but informative Portfolio.</p>

		<i class="ri-arrow-down-double-line ri-4x block"></i>
	</section>
</Layout>
