---
import Layout from '../layouts/Layout.astro'
import TextCarousel from '../components/vue/TextCarousel.vue'
import Button from 'primevue/button/Button.vue'
import ScrollToTechStack from '@/components/vue/ScrollToTechStack.vue'
import TechStackList from '@/components/vue/TechStackList.vue'
import { getCollection } from 'astro:content'

const roles = ['Full-Stack Developer.', 'Tech Enthusiast.', 'Innovator.']

const technologies = await getCollection('technologies')
---

<Layout title="jericdei">
    <section
        class="container mx-auto flex flex-col justify-center space-y-16 py-32 text-center lg:text-left"
    >
        <div class="flex flex-col gap-4 text-3xl leading-[3rem]">
            <p class="lg:text-4xl">Hi there! I'm</p>

            <span class="text-4xl font-bold md:text-6xl lg:text-8xl"
                >Jeric June Logan</span
            >

            <TextCarousel client:load texts={roles} />
        </div>

        <div
            class="mt-4 flex flex-wrap items-center justify-center gap-4 lg:justify-start"
        >
            <a href="mailto:loganjeric25@gmail.com">
                <Button client:load label="Hit me up" icon="ri-chat-1-fill" />
            </a>

            <a href="https://github.com/jericdei" target="_blank">
                <Button
                    client:load
                    severity="secondary"
                    label="View my GitHub"
                    icon="ri-github-fill"
                />
            </a>
        </div>

        <div class="flex justify-center pt-32">
            <ScrollToTechStack client:load />
        </div>
    </section>

    <section
        id="tech-stack"
        class="container mx-auto flex flex-col justify-center space-y-16 py-32 text-center lg:text-left"
    >
        <h2 class="mt-4 text-center text-3xl font-bold lg:text-5xl">
            My Tech Stack
        </h2>

        <div class="">
            <TechStackList client:load technologies={technologies} />
        </div>
    </section>
</Layout>

<style>
    @keyframes bounce {
        0%,
        20%,
        50%,
        80%,
        100% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-20px);
        }
        60% {
            transform: translateY(-10px);
        }
    }
</style>
