---
import Layout from "../layouts/Layout.astro";
import TextCarousel from "../components/vue/TextCarousel.vue";
import Button from 'primevue/button/Button.vue'

const roles = ["Full-Stack Developer.", "Tech Enthusiast.", "Innovator."];
---

<Layout title="jericdei">
	<section
		class="text-center space-y-16 px-8 py-48 flex flex-col justify-center"
	>
		<p class="text-3xl leading-[3rem]">
			Hi there! I'm

			<br />

			<span class="text-6xl font-bold">Jeric,</span>

			<br />

			<TextCarousel client:only texts={roles} />
		</p>

		<div class="mt-4">
			<Button client:only label="View my projects" />
		</div>
	</section>

	<section class="bg-slate-900 px-4 py-16 text-center">
		<h2 class="font-bold mb-8 text-2xl">My Projects</h2>

		<p>
			Here are some of my personal and professional projects.
		</p>
	</section>
</Layout>
