---
import ProjectCard from '@/components/astro/ProjectCard.astro'
import Layout from '../layouts/Layout.astro'
import Button from 'primevue/button/Button.vue'
import { getCollection } from 'astro:content'

const projects = await getCollection('projects')
---

<Layout title="Projects">
    <section class="container mx-auto px-4 py-32">
        <p class="text-center text-2xl lg:text-left lg:text-4xl">
            Here are some of my personal and professional projects.
        </p>

        <div
            class="mt-16 grid grid-cols-1 gap-x-8 gap-y-12 p-4 md:grid-cols-2 lg:grid-cols-4"
        >
            {projects.map((project) => <ProjectCard projectId={project.id} />)}
        </div>

        <div class="mt-16 flex justify-center">
            <a href="https://github.com/jericdei" target="_blank">
                <Button
                    client:only="vue"
                    severity="secondary"
                    label="View more on my GitHub Profile"
                    icon="ri-github-fill"
                />
            </a>
        </div>
    </section>
</Layout>
