---
import Layout from '../layouts/Layout.astro'
import Button from 'primevue/button/Button.vue'
import { getCollection } from 'astro:content'
import ProjectList from '@/components/vue/ProjectList.vue'

const projects = await getCollection('projects')
const technologies = await getCollection('technologies')
---

<Layout title="Projects">
    <section class="container mx-auto px-4 py-32">
        <h1 class="mt-4 text-center text-3xl font-bold lg:text-5xl">
            Projects
        </h1>

        <ProjectList
            client:only="vue"
            projects={projects}
            technologies={technologies}
        />

        <div class="mt-16 flex justify-center">
            <a href="https://github.com/jericdei" target="_blank">
                <Button
                    client:only="vue"
                    severity="secondary"
                    label="View more in GitHub"
                    icon="ri-github-fill"
                />
            </a>
        </div>
    </section>
</Layout>
