--- 
import '@fontsource-variable/chivo-mono';
import 'remixicon/fonts/remixicon.css'
import Menu from '../components/vue/Menu.vue';
import { ViewTransitions } from 'astro:transitions';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<ViewTransitions />
	</head>
	<body class="dark:bg-gray-700 dark:text-slate-200">
		<header class="flex p-4 justify-between items-center">
			<p class="text-lg font-bold">jericdei</p>

			<Menu client:only />
		</header>

		<main class="px-8">
			<slot />
		</main>
	</body>
</html>

<style is:global>
body {
  font-family: 'Chivo Mono Variable', sans-serif;
}
</style>